
<div class="card-deck">
    <div class="card text-white bg-primary text-center mb-3" style="max-width: 33%;">
        <div class="card-header">Total de Ordenes</div>
        <div class="card-body">
            <h5 class="card-title">{{total_ordenes}}</h5>
        </div>
    </div>
    
    <div class="card text-white bg-secondary text-center mb-3" style="max-width: 33%;">
        <div class="card-header">Total de Productos</div>
        <div class="card-body">
            <h5 class="card-title">{{total_productos}}</h5>
        </div>
    </div>
    <div class="card text-white bg-success text-center mb-3" style="max-width: 33%;">
        <div class="card-header">Total de Usuarios</div>
        <div class="card-body">
            <h5 class="card-title">{{total_usuarios}}</h5>
        </div>
    </div>    
</div>
