{% extends 'accounts/main.html' %}
{% block content %}
<br>
    <div class="card-deck">
        <div class="card text-white bg-info text-center mb-3" style="max-width: 33%;">
            <div class="card-header">Total Compras</div>
            <div class="card-body">
                <p>Name: {{user.name}}</p>
                <p>emil: <h5 class="card-title">{{user.email}}</h5></p>
            </div>
        </div>
        
        <div class="card bg-light text-center mb-3" style="max-width: 33%;">
            <button type="button" class="btn"><div class="card-header">Pedidos Pendientes</div></button>
            <div class="card-body">
                <h5 class="card-title">{{product}}</h5>
            </div>
        </div>
        <div class="card text-white bg-dark text-center mb-3" style="max-width: 33%;">
            <div class="card-header">Pedidos entregados</div>
            <div class="card-body">
                <h5 class="card-title">{{total_usuarios}}</h5>
            </div>
        </div>    
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        </tbody>
    </table>
{% endblock %}